* {
  font-family: Graphik, sans-serif;
}

h2, h4,.button {
  text-align: center;
  padding: 0.625rem;
  font-family: Graphik;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.0125rem;
  margin: 0 !important;
}

.button{
  background-color: var(--primary);
  font-size: 1.25rem;
  line-height: 1.25rem;
  max-width: 14.75rem;
}

nav{
  padding: 1.0625rem 1rem;
}

h2{
  font-size: 3rem;
  line-height: 3.4375rem;
}

h4{
  font-size: 1.75rem;
  line-height: 2.5rem;
}

.text_content{
  gap: 0.4375rem;
}

.logo {
  min-height: 4.875rem;
  min-width: 12.875rem;
  background: url("/assets/logo.png") center no-repeat;
  background-size: contain;
}

.home__container {
  padding: 5rem 1.25rem;
  gap: 3.6875rem;
}

.features__container{
  padding: 5rem 0;
  gap: 3.125rem;
}
.feactures__text__content{
  gap: 0.4375rem;
  max-width: 17.8125rem;
}

.video{
  box-sizing: content-box;
}
.video__button{
  width: 3.875rem;
  height: 3.875rem;
  border: 0;
  background-color: var(--primary);
}