:root{
  --primary: #2091F9;
  --text: #252B42;
  --second-text: #374754;
  --background: #18171D;
}

.text{
  color: var(--text) !important;
}

.second-text{
  color: var(--second-text) !important;
}