* {
  font-family: Graphik, sans-serif;
}

h1,
p,
h2,
h4,
input,
button {
  font-family: Graphik;
  padding: 0.625rem;
  font-style: normal;
  letter-spacing: 0.0125rem;
  margin: 0 !important;
}

p,
h2,
h4,
input,
button {
  font-weight: 400;
}

h1 {
  font-size: 74px;
  font-weight: 700;
  line-height: 74px;
}

h6 {
  font-family: Graphik;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4375rem;
  letter-spacing: 0.00625rem;
}


button {
  background-color: var(--primary);
  font-size: 1.25rem;
  line-height: 1.25rem;
  max-width: 14.75rem;
  padding: 1rem 0;
  width: 100%;
  border: 0;
  text-align: center;
  border-radius: var(--bs-border-radius-pill) !important;
}

.try {
  font-weight: 700 !important;
}

p {
  line-height: 1.5625rem;
  font-size: 1.125rem;
  padding: 0 0.625rem;
}

nav {
  padding: 1.0625rem 1rem;
}

h2 {
  font-size: 3rem;
  line-height: 3.4375rem;
}

h3 {
  font-family: Graphik;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.1px;
  padding: 0.625rem;
  margin: 0;
}

h4 {
  font-size: 1.75rem;
  line-height: 2.5rem;
}

.gap-10 {
  gap: 0.625rem;
}

.p-10 {
  padding: 0.625rem;
}

.text_content {
  gap: 0.4375rem;
}

.logo {
  min-height: 4.875rem;
  min-width: 12.875rem;
  background: url("/assets/logo.png") center no-repeat;
  background-size: contain;
}

._container {
  /* 80 */
  padding: 2.5rem 1.25rem;
  gap: 3.6875rem;
}

._container_2 {
  /* 100 */
  padding: 5rem 1.25rem;
  gap: 3.6875rem;
}

.features__container {
  padding: 5rem 0;
  gap: 3.125rem;
}

.feactures__text__content {
  gap: 0.4375rem;
  max-width: 17.8125rem;
}

.video {
  box-sizing: content-box;
  aspect-ratio: 385.887 / 215.766;
}

.video video {
  border-radius: 1.6690625rem;
}

.video__button {
  width: 3.875rem;
  height: 3.875rem;
  border: 0;
  background-color: var(--primary);
}

.item__container {
  padding: 1.125rem 0;
  max-width: 15.9375rem;
  gap: 4.6875rem;
}

.mailing {
  padding: 1.5rem 0;
  gap: 0.75rem;
}

input {
  color: var(--background);
  border: 0.0625rem solid #E8E8E8;
  padding: 1rem 2.1875rem;
  border-radius: 39px;
  background: #F4F4F4;
  max-height: 3.375rem;
}

*::placeholder {
  color: var(--background);
  font-family: 'Roboto', sans-serif;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1rem;
  letter-spacing: 0.00625rem;
}

.client-container {
  padding: 1.5625rem 2.5rem;
  gap: 1.875rem;
  max-width: 17.1875rem;
  border: 1px solid #D8D8D8;
}

.testimonial {
  padding: 0.95125rem 0;
  max-width: 296.91px;
  gap: 2.8rem;
  color: var(--second-text, #374754);
  text-align: center;
  font-family: Roboto;
  font-size: 13.526px;
  font-style: normal;
  font-weight: 700;
  line-height: 16.907px;
  letter-spacing: 0.169px;
}

.testimonial img {
  max-width: 126.679px;
}

.cleint {
  max-width: 8rem;
}

.cleint__text__content * {
  all: unset;
  font-family: Roboto;
  font-style: normal;
}

.cleint__text__content h6 {
  color: var(--second-text);
  font-size: 10.144px;
  font-style: normal;
  font-weight: 700;
  line-height: 15.216px;
  letter-spacing: 0.085px;
}

.cleint__text__content p {
  color: var(--text);
  font-size: 12.68px;
  font-weight: 400;
  line-height: 22.824px;
  letter-spacing: 0.169px;
}

.dark__background {
  background-color: var(--dark-background);
}

.pricing-style {
  max-width: 20.9375rem;
  min-height: 100px;
  padding: 2.5rem;
  border-radius: 0.625rem;
  gap: 1.875rem;
  box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.07);
}

.contact__form {
  padding: 3.25rem 3.0625rem;
  gap: 2.8125rem;
  box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.07);
  border-radius: 1.25rem;
  background: #FFF;
  border: 1px solid #DDD;
}

textarea {
  border: 1px solid #E8E8E8;
  background: #F5F5F5;
  padding: 1.4375rem 1.25rem;
  min-height: 12.375rem;
  box-sizing: border-box;
}

.footer__menu__text {
  font-family: Graphik;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  /* 186.667% */
  letter-spacing: 0.2px;
}

.footer__menu__info {
  grid-template-columns: 2.875rem auto;
  grid-column-gap: 0.25rem;
  grid-row-gap: 0.625rem;
  align-items: center;
  justify-items: center;
}

.footer__menu__info__social__media {
  grid-column-start: 1;
  grid-column-end: 3;
  padding: 1.25rem 0;
  gap: 1.5rem;
}

.menu {
  right: 0;
  transform: scaleY(0);
}

.menu a {
  padding: 1.5rem 2rem;
  border-bottom: 1px solid #E8E8E8;
  width: 100%;
  text-transform: capitalize;
  color: var(--text);
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-7-30 16:22:36
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-in-ver-top
 * ----------------------------------------
 */
@-webkit-keyframes scale-in-ver-top {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1;
  }

  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1;
  }
}

@keyframes scale-in-ver-top {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1;
  }

  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1;
  }
}

.scale-in-ver-top {
  -webkit-animation: scale-in-ver-top 0.25s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: scale-in-ver-top 0.25s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-7-30 16:23:43
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-out-ver-top
 * ----------------------------------------
 */
@-webkit-keyframes scale-out-ver-top {
  0% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1;
  }

  100% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1;
  }
}

@keyframes scale-out-ver-top {
  0% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1;
  }

  100% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1;
  }
}

.scale-out-ver-top {
	-webkit-animation: scale-out-ver-top 0.25s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: scale-out-ver-top 0.25s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}