@font-face {
  font-family: Graphik;
  src: url('../assets/fonts/Graphik-Light-Trial.otf');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: Graphik;
  src: url('../assets/fonts/Graphik-Medium-Trial.otf');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../assets/fonts/Roboto-Regular.ttf') format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}